h1 {
  display: flex;
  margin-bottom: 5%;
  justify-content: center;
}
.player_msg {
  margin-bottom: 2%;
  padding: 10px;
  border: solid black 2px;
  display: flex;
  justify-content: space-around;
}

.main_buttons {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
}

#win_msg,
#re_button {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}
